<div class="login-page">
  <ng-template [ngIf]="authService.isLoggedIn()" [ngIfElse]="unauthorized">
    <label>Hello, {{authService.getUserName()}}!</label>
    <button class="login-page__logout-button btn btn-danger" (click)="onLogOut()">Log out</button>
  </ng-template>
  <ng-template #unauthorized>
    <a class="login-page__auth-button text-primary" href="#" (click)="onRegisterClick()">{{ isLogin ? regButtonTitle : backToLoginTitle }}</a>
    <app-login *ngIf="isLogin"></app-login>
    <app-auth *ngIf="!isLogin"></app-auth>
  </ng-template>
</div>