<div class="login-form">
  <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" novalidate="novalidate">
    <div class="form-group">
      <label for="login-form__user-name-input">User name</label>
      <input type="text" name="username" class="form-control" id="login-form__user-name-input" ngModel />
    </div>
    <div class="form-group">
      <label for="login-form__password-input">Password</label>
      <input type="password" name="password" class="form-control" id="login-form__password-input" ngModel />
    </div>
    <button type="submit" class="btn btn-primary login-form__submit-button">Submit</button>
  </form>
</div>